# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Env
.env

# SQLite DB files
*.db
*.db-wal
*.db-shm

# Logs
logs/
*.log

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build / Temp
dist/
build/